footer{
    margin-top: 0.5em;
}

.nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: var(--top-margin);
    padding: 0;
}

.nav img{
    max-width: 5em;
    max-height: 5em;
}

.nav li{
    list-style: none;
}