:root{
    --clr-text: #000000;
    --clr-Information: #519A09;
    --clr-background: #E0F2CE;
    --clr-background-accent: #E7EAEE;
    --clr-background-dark-accent: #519A09;

    --ff-sansserif: sans-serif;
    --ff-logo: sans-serif;

    --border-radius: 1em;
    --bg-color: rgba(255, 255, 255, 0.659);
    --border-color: black 3px solid;
    --min-realtime-size: 6rem;
    --max-realtime-size: 10rem;
    --top-margin: 1em;
    --inf-size: 1.75em;
    --activity-size: 1.25em;
}

html{
    box-sizing: border-box;
    font-family: var(--ff-sansserif);
    color: var(--clr-text);
    background-image: url(../../assets/main-background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: hidden;
}

body{
    margin: 0;
}

.main_main{
    margin: 0.5em;
    min-height: max-content;
    position: relative;
}

h2{
    margin: 0;
}

img{
    width: auto;
    height: auto;
}

input{
    border-radius: 0.5em;
    height: 2em;
    margin: 0;
}

.login_div{
    border-radius: 2em;
    border: 2px solid black;
    width: 60vw;
    height: 50vh;
    max-width: 20em;
    margin: auto;
    margin-top: 20vh;
    background-color: rgba(255, 255, 255,0.8);
    padding: 1.5em;
}

.header{
    display: flex;
    justify-content: center;
    margin: 2em;
    gap: 0.5em;
}

.login_inputs{
    height: 15em;
    margin-bottom: 0;
}

.login_submit{
    margin-top: 0;
    margin-bottom: 0;
    height: 3em;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.5em;
    background-color: #60f50a;
    font-size: 1em;
}

.login_submit:hover{
    cursor: pointer;
}

.login_signup{
    margin-top: 0;
    border: none;
    background: none;
    font-size: 1em;
    text-decoration: underline;
    color: blue;
    width: 100%;
}