:root{
    --clr-text: #000000;
    --clr-Information: #519A09;
    --clr-background: #E0F2CE;
    --clr-background-accent: #E7EAEE;
    --clr-background-dark-accent: #519A09;

    --ff-sansserif: sans-serif;
    --ff-logo: sans-serif;

    --border-radius: 0.6em;
    --top-margin: 0.7em;
    --box-height: 2.5em;
    --input-margin: 0.4em;
    --max-width: 30rem;
    --label-size: 1.2em;
    --input-size: 1em;
    --label-sizes: 1.2em;
    --input-sizes: 0.8em;
}

html {
    font-family: var(--ff-sansserif);
    color: var(--clr-text);
}

body{
    margin: 0;
    height: 100vh;
}

.main_grid{
    background-image: url(../../assets/main-background.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
}

h2{
    margin: 0;
}
/*Header section*/

.header{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-shadow: 0px 3px 4px -4px #000000;
    align-items: center;
    margin-bottom: 0;
    background: rgb(12,203,62);
    background: linear-gradient(90deg, rgba(12,203,62,1) 0%, rgba(10,228,222,1) 66%, rgba(12,182,187,1) 100%);
}

.menu_logo{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 3.3em;
}

.menu_button{
    border: none;
    background: none;
    margin-top: 1em;
}

.logo{
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-left: 0.5em;
    align-items: center;
    padding-top: 0.5em;
    text-decoration: none;
    color: #000000;
}

.logo img{
    max-width: 1.5em;
    max-height: 1.5em;
}

.logo h4{
    font-size: 1.1em;
}

.logout{
    margin: 0;
    margin-right: 0.7em;
    background-color: rgb(212, 67, 67);
    border: var(--border-color);
    padding: 0.7em;
    border-radius: var(--border-radius);
    transition: 0.3s;
}

.logout:hover{
    transform: scale(1.1);
    background-color: red;
}

.profile{
    margin-left: 0.3em;
}

/*Main section*/

.main_main{
    display: flex;
    flex-direction: row;
}

.back{
    margin-top: 0.5em;
    height: 3em;
    width: 5em;
    margin-left: 0.3em;
    border-radius: 0.5em;
    font-size: 1em;
    transition: 0.3s ease;
    background-color: rgb(212, 67, 67);
    font-weight: bold;
}

.back:hover{
    cursor: pointer;
    transform: scale(1.1);    
}

.formdiv{
    margin: auto;
    position: relative;
    left: -2.8em;

}

.heading{
    text-align: center;
    font-size: 2.8em;
    margin-bottom: 0.3em;
}

form{
    padding: 0.5em;
    max-width: var(--max-width);
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.activity_input{
    display: flex;
    gap: var(--input-margin);
    flex-direction: column;
}

.activity_input label{
    font-size: var(--label-size);
    font-weight: bold;
}

.activity_input input{
    border: 1px solid #999999;
    border-radius: var(--border-radius);
    height: var(--box-height);
    font-size: var(--input-size);
}

.time_input{
    margin-top: var(--top-margin);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 0.3em;
}

.time_input p{
    font-size: var(--label-size);
}

.time_head{
    font-size: var(--label-size);
    font-weight: bold;
}

.time_input select{
    height: var(--box-height);
    border: 1px solid #999999;
    border-radius: var(--border-radius);
    font-size: var(--input-size);
}

.intensity_input{
    margin-top: var(--top-margin);
}

.intensity_input label{
    font-size: var(--label-size);
}

.intensity_head{
    font-weight: bold;
}

.intensity_level{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: var(--input-margin);
    gap: 2em;
}

.location_input{
    margin-top: var(--top-margin);
}

.location_input label{
    font-size: var(--label-size);
    font-weight: bold;
}

.location_input input{
    width: 100%;
    border: 1px solid #999999;
    border-radius: var(--border-radius); 
    height: var(--box-height);
    margin-top: var(--input-margin);
    font-size: var(--input-size);
}

.plan_activity{
    margin-top: 1.5em;
    background-color: #000000;
    color: white;
    font-weight: bold;
    width: 100%;
    height: 3em;
    border-radius: 0.8em;
    cursor: pointer;
}

.plan_activity:hover{
    background-color: #444;
    border: none;
}

/*heathbuddy chatwindow*/

.Healthbuddy{
    border-radius: var(--border-radius);
    height: 20em;
    width: 15em;
    position: absolute;
    z-index: 1;
    align-self: center;
    top: 28%;
}

.Health_buddy_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1dce23;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    padding: 0;
}

.health_buddy_logo{
    margin: 0.5em;
    margin-left: 0.3em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
}

.health_buddy_logo img{
    max-width: 24px;
    max-height: 24px;
    border: solid 1px #000000;
    border-radius: 50%;
    background-color: #4caf50;
}

.health_buddy_logo h4{
    margin: 0;
    height: max-content;
}

.Close_Health_buddy{
    border: none;
    background-color: transparent;
    font-weight: bold;
    cursor: pointer;
    max-height: 30px;
    margin: auto;
    margin-right: 0.2em;
}

.btn_healthbuddy{
    margin: auto;
    margin-bottom: 0.7em;
    align-content: center;
    background-color: var(--clr-background-dark-accent);
    border-radius: var(--border-radius);
    width: 10em;
    height: 3em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.3em;
    cursor: pointer;
}

.btn_healthbuddy:hover{
    background-color: #1dce23;
}

.btn_healthbuddy img{
    max-width: 30px;
    max-height: 30px;
    align-self: center;
    margin: 0;
}

.btn_healthbuddy p{
    color: white;
    align-self: center;
    margin: 0;
}

@media (width <= 450px) {
    .main_main{
        margin-top: 0.5em;
    }
    
    .heading{
        font-size: 2em;
    }

    .activity_input label{
        font-size: var(--label-sizes);
        font-weight: bold;
    }
    
    .activity_input input{
        font-size: var(--input-sizes);
    }
    
    .time_input p{
        font-size: var(--label-sizes);
    }
    
    .time_head{
        font-size: var(--label-sizes);
    }
    
    .time_input select{
        height: var(--box-height);
        font-size: var(--input-sizes);
    }

    .intensity_input label{
        font-size: var(--label-sizes);
    }
    
    .intensity_head{
        font-weight: bold;
    }
    
    .location_input label{
        font-size: var(--label-sizes);
    }
    
    .location_select{
        font-size: var(--input-sizes);
    }
}