:root{
    --clr-text: #000000;
    --clr-Information: #519A09;
    --clr-background: #E0F2CE;
    --clr-background-accent: #E7EAEE;
    --clr-background-dark-accent: #519A09;

    --ff-sansserif: sans-serif;
    --ff-logo: sans-serif;

    --border-radius: 1em;
    --bg-color: rgba(255, 255, 255, 0.659);
    --border-color: black 3px solid;
    --min-realtime-size: 6rem;
    --max-realtime-size: 10rem;
    --top-margin: 1em;
    --inf-size: 1.75em;
    --activity-size: 1.25em;
}

html{
    box-sizing: border-box;
    font-family: var(--ff-sansserif);
    color: var(--clr-text);
}

body{
    margin: 0;
}

.main_main{
    margin: 0.5em;
    min-height: max-content;
    position: relative;
}

h2{
    margin: 0;
}

img{
    width: auto;
    height: auto;
}

