.container {
    font-family: Arial, sans-serif;
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.backButton {
    background: none;
    border: none;
    color: blue;
    cursor: pointer;
}

.rewardsList {
    display: flex;
    flex-direction: column;
}

.reward {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.reward img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
}

.reward div {
    flex-grow: 1;
}

.reward h2 {
    margin: 0;
}

.reward p {
    margin: 5px 0;
}

.reward button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.reward button:hover {
    background-color: #45a049;
}

.claimAll {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
}

.claimAll:hover {
    background-color: #45a049;
}
